Repository piotrlewandowski/manager-live-search: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --findRelatedTests, stylelint --syntax scss --fix

.lintstagedrc.json:

{
  "src/**/*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "jest --findRelatedTests",
    "git add"
  ],
  "src/**/*.scss": [
    "stylelint --syntax scss --fix",
    "git add"
  ]
}

feat: implement redux
  .eslintrc.json
  package-lock.json
  package.json
  src/app/_helpers/configureStore.js
  src/app/store/init/init.reducer.js
  src/app/store/init/init.reducer.test.js
  src/app/store/rootReducer.js
  src/app/store/testReducerDefault.js
  src/index.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: initialise the app and fetch data
  .babelrc
  package-lock.json
  package.json
  src/app/App.jsx
  src/app/App.test.js
  src/app/_helpers/configureStore.js
  src/app/config/dataSources.js
  src/app/store/apiRequest.js
  src/app/store/constants.js
  src/app/store/init/init.action-types.js
  src/app/store/init/init.actions.js
  src/app/store/init/init.actions.test.js
  src/app/store/init/init.reducer.js
  src/app/store/init/init.reducer.test.js
  src/app/store/init/init.selectors.js
  src/app/store/init/init.selectors.test.js
  src/app/test/renderWithProviders.js
  src/app/test/testReducerDefault.js
  src/app/test/testStandardAction.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: load employees data into the store
  src/app/config/mockData.json
  src/app/store/data/employees/employees.reducer.js
  src/app/store/data/employees/employees.reducer.test.js
  src/app/store/rootReducer.js
  src/app/test/testReducerDefault.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

refactor: store only data consumed by the UI
  src/app/store/data/employees/employees.reducer.js
  src/app/store/data/employees/employees.reducer.test.js
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: search for with data filtering
  jest.config.js
  package-lock.json
  package.json
  src/app/App.jsx
  src/app/App.module.scss
  src/app/App.test.js
  src/app/_helpers/regexRules.js
  src/app/components/SearchForm.jsx
  src/app/components/SearchForm.module.scss
  src/app/components/SearchForm.test.js
  src/app/components/TextField.jsx
  src/app/components/TextField.module.scss
  src/app/components/_Suggestions.module.scss
  src/app/store/data/employees/employees.selectors.js
  src/app/store/data/employees/employees.selectors.test.js
  src/styles/_variables.scss
  src/styles/main.scss
  webpack.config.base.babel.js
Due: eslint --fix, prettier --write, jest --findRelatedTests, stylelint --syntax scss --fix

feat: "No suggestions" message
  src/app/components/SearchForm.jsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: extract suggestion list into separate component
  src/app/components/SearchForm.jsx
  src/app/components/SuggestionsList.jsx
  src/app/components/SuggestionsList.module.scss
  src/styles/_variables.scss
Due: eslint --fix, prettier --write, jest --findRelatedTests, stylelint --syntax scss --fix

feat: select on click
  src/app/components/SearchForm.jsx
  src/app/components/SuggestionsList.jsx
  src/app/components/SuggestionsList.module.scss
Due: eslint --fix, prettier --write, jest --findRelatedTests, stylelint --syntax scss --fix

feat: keyboard navigation
  package-lock.json
  package.json
  src/app/_helpers/keyCodes.js
  src/app/components/SearchForm.jsx
  src/app/components/SearchForm.module.scss
  src/app/components/SuggestionsList.jsx
  src/app/components/SuggestionsList.module.scss
  src/app/components/TextField.jsx
  src/styles/_variables.scss
Due: eslint --fix, prettier --write, jest --findRelatedTests, stylelint --syntax scss --fix

feat: scroll list with keyboard
  src/app/components/SearchForm.jsx
  src/app/components/SuggestionsList.jsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

fix: vertical alignment when scrolling up
  src/app/components/SearchForm.jsx
Due: eslint --fix, prettier --write, jest --findRelatedTests

docs: update readme file
  README.md
Due: none
